/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

// Define the theme using Angular Material 21 API (Material 3)
$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$rose-palette,
  ),
));

@include mat.all-component-themes($my-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
